body {
    font-family: Georgia, serif;
    text-align: center;
    padding: 20px;
    background-image: url('img2.jpg'); 
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    color: rgb(193, 45, 129); 
}

.credits {
    font-size: 14px;
    color: rgb(193, 45, 129);
    margin-bottom: 20px;
}

.event-item {
    font-family: Georgia, serif;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
}
.credits {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(193, 45, 129);
    margin-top: 10px;
    text-transform: lowercase; 
    letter-spacing: 1px; 
}

